/* General button styling for consistency */
.btn {
    font-size: 0.9rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center; /* Center text inside buttons */
}

/* Hover effect for buttons */
.btn:hover {
    background-color: #02436a; /* Darker shade for hover */
    color: #fff;
}
span {
    font-size: 1.8em; /* Adjust the font size of the title */
    font-weight: bold;
    color: #012641;
}

/* Styling for buttons section */
.buttons a {
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    .buttons a {
        margin: 0 10px; /* Adjusted margin for larger screens */
    }
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ms-auto {
    margin-left: auto;
}


/* Table styling */
.table {
    margin-bottom: 0; /* Eliminate extra space */
}

.table thead th {
    background-color: #012641;
    
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 15px;
}

.table tbody td {
    padding: 10px;
}

.table-border {
    border: 1px solid #ddd;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

/* Modal hidden by default */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dim background */
    align-items: center;
    justify-content: center;
}

/* Modal content styling */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modal is shown when this class is added */
.modal.show {
    display: flex;
}

/* Close button */
.close {
    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    color: #333;
}

/* Scrollbar customization */
.table-responsive::-webkit-scrollbar {
    width: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #60B3D1;
    border-radius: 5px;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}
.search {
    display: flex;
    align-items: center; /* Align label and input vertically */
   
    margin-top: 5px;
  }
  .search button {
    margin-left: 10px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #012641;
    color: white;
    border: none;
    cursor: pointer;
  }
  .search input[type="search"] {
    width: 200px;
    font-size: 0.8vw;
    display: inline-block;
    margin-right: 10px;
  }
  
.search label {
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: 10px;
  display: inline-block;
}
