<div class="container mt-3">
    <h2 class="text-center text-primary ">Update Students Information</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 m-2"> <!-- Changed column size -->
            <div class="card" style="box-shadow: 0 .5rem .9rem #0005; max-width: 100%; margin: 0 auto;"> <!-- Set max-width -->
                <div class="card-body p-2">
                    <form [formGroup]="profileForm" (ngSubmit)="updateInfo()">
                        <div class="row">
                            <!-- LRN -->
                            <!-- <div class="row mb-3">
                             
                                <div class="col-12 col-md-6 col-lg-5">
                                    <div class="form-outline">
                                        <label class="form-label" for="lrn">LRN</label>
                                        <input type="text" name="lrn" formControlName="lrn" id="lrn" class="form-control" />
                                    </div>
                                </div>
                            </div> -->
                            
                                <!-- Lastname -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastname">Last Name</label>
                                        <input type="text" name="lastname" formControlName="lastname" id="lastname" class="form-control" />
                                    </div>
                                </div>
                            
                            

                            <!-- Firstname -->
                            <div class="col-12 col-md-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="firstname">First Name</label>
                                    <input type="text" name="firstname" formControlName="firstname" id="firstname" class="form-control" />
                                </div>
                            </div>

                            <!-- Middlename -->
                            <div class="col-12 col-md-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="middlename">Middle Name</label>
                                    <input type="text" name="middlename" formControlName="middlename" id="middlename" class="form-control" />
                                </div>
                            </div>

                            <!-- Extension Name -->
                            <div class="col-12 col-md-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="extension_name">Extension Name</label>
                                    <input type="text" name="extension_name" formControlName="extension_name" id="extension_name" class="form-control" />
                                </div>
                            </div>

                            <!-- Religion -->
                            <div class="col-12 col-md-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="religion">Religion</label>
                                    <input type="text" name="religion" formControlName="religion" id="religion" class="form-control" />
                                </div>
                            </div>
                            <!-- Gender -->
                            <div class="col-12 col-md-4 mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <div class="d-flex justify-content-start flex-wrap">
                                    <div class="form-check form-check-inline" *ngFor="let g of gvalue">
                                        <input class="form-check-input" type="radio" name="gender" [value]="g" formControlName="gender" id="gender_{{g}}">
                                        <label class="form-check-label" for="gender_{{g}}">{{g}}</label>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Birthday -->
                            <div class="col-12 col-md-6 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="birthdate">Birthday</label>
                                    <input type="date" formControlName="birthdate" id="birthdate" class="form-control" />
                                </div>
                            </div>

                             <!-- Phone Number -->
                             <div class="col-12 col-md-6 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="contact_numbers">Phone Number</label>
                                    <input type="text" id="contact_numbers" formControlName="contact_numbers" class="form-control" />
                                </div>
                            </div>

                             <!-- Civil Status -->
                             <div class="col-12 col-md-6 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="civil_status">Civil Status</label>
                                    <input type="text" id="civil_status" formControlName="civil_status" class="form-control" />
                                </div>
                            </div>

                            <!-- Place of Birth -->
                            <div class="col-12 col-md-6 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="placeofbirth">Place of Birth</label>
                                    <input type="text" formControlName="placeofbirth" id="placeofbirth" class="form-control" />
                                </div>
                            </div>

                           
                            <!-- Last education -->
                            <div class="col-12 col-md-6 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="last_education"> Last Education</label>
                                    <input type="text" id="last_education" formControlName="last_education" class="form-control" />
                                </div>
                            </div>
                             <!-- Program -->
                             <div class="col-12 col-md-6 mb-3">
                                <label for="program" class="form-label">Program</label>
                                <select class="form-control" id="program" formControlName="program">
                                    <option [ngValue]="null" selected disabled>Select Program</option>
                                    <option *ngFor="let s of gradelevel" [ngValue]="s">{{s}}</option>
                                </select>
                            </div>

                            <!-- Submit Button -->
                            <!-- <div class="col-6 ms-auto">
                                <button type="submit" class="btn text-white w-100">Submit</button>
                            </div>  -->
                            <div class="col-12 text-end" style="display: flex; justify-content: flex-end; gap: 10px;">
                                <button 
                                    type="button" 
                                    class="btn" 
                                    style="background-color: #006184; color: #fff;" 
                                    [routerLink]="['/main/Student/mainStudent/viewStudent/alsblp']">
                                    Back
                                </button>
                                <button 
                                    type="submit" 
                                    class="btn" 
                                    style="background-color: #60B3D1; color: #fff;">
                                    Save
                                </button>
                            </div>                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
