<div class="container mt-3">
    <h2>Enroll Students</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 m-2">
            <div class="card" style="box-shadow: 0 .5rem .9rem #0005;">
                <div class="card-body">
                    <form [formGroup]="enrollForm" (ngSubmit)="enrol()">
                        <div class="row">
                            <!-- Lrn -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="lrn">lrn</label>
                                    <input type="text" name="lrn" formControlName="lrn" id="lrn" class="form-control" />
                                </div>
                            </div>
                            <!-- Lastname -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="lastname">Lastname</label>
                                    <input type="text" name="lastname" formControlName="lastname" id="lastname" class="form-control" />
                                </div>
                            </div>

                            <!-- Firstname -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="firstname">Firstname</label>
                                    <input type="text" name="firstname" formControlName="firstname" id="firstname" class="form-control" />
                                </div>
                            </div>

                            <!-- Middlename -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="middlename">Middlename</label>
                                    <input type="text" name="middlename" formControlName="middlename" id="middlename" class="form-control" />
                                </div>
                            </div>

                            <!-- Extension Name -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="extension_name">Extension Name e.g., Jr, III</label>
                                    <input type="text" name="extension_name" formControlName="extension_name" id="extension_name" class="form-control" />
                                </div>
                            </div>

                            <!-- Religion -->
                            <!-- <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="religion">Religion</label>
                                    <input type="text" name="religion" formControlName="religion" id="religion" class="form-control" />
                                </div>
                            </div> -->

                            <!-- Birthday -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="birthdate">Birthday</label>
                                    <input type="date" formControlName="birthdate" id="birthdate" name="birthdate" class="form-control" />
                                </div>
                            </div>

                            <!-- Place of Birth -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="placeofbirth">Place of Birth</label>
                                    <input type="text" formControlName="placeofbirth" id="placeofbirth" name="birthplace" class="form-control" />
                                </div>
                            </div>

                            <!-- Phone Number -->
                            <!-- <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="phone">Phone No.</label>
                                    <input type="text" id="phone" formControlName="phone" name="phone" class="form-control" />
                                </div>
                            </div> -->

                            <!-- Civil Status -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="civil_status">Civil Status</label>
                                    <input type="text" id="civil_status" formControlName="civil_status" name="civil_status" class="form-control" />
                                </div>
                            </div>

                            
                            <!-- Gender -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <div class="d-flex justify-content-start">
                                    <div class="form-check form-check-inline" *ngFor="let g of gvalue">
                                        <input class="form-check-input" type="radio" name="gender" [value]="g" formControlName="gender" id="gender_{{g}}">
                                        <label class="form-check-label" for="gender_{{g}}">{{g}}</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Email -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="text" id="email" formControlName="email" name="email" class="form-control" />
                                </div>
                            </div>
                            
                             <!-- Grade Level -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <label for="gradelvl" class="form-label">Grade Level</label>
                                <select class="form-control" id="gradelvl" formControlName="education">
                                    <option [ngValue]="null" selected disabled>Select Grade level</option>
                                    <option *ngFor="let s of gradelevel" [ngValue]="s">{{s}}</option>
                                </select>
                            </div>

                            <!-- Password -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="password">Password</label>
                                    <input type="password" id="password" formControlName="password" name="password" class="form-control" />
                                </div>
                            </div>

                            <!-- Confirm Password -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="password_confirmation">Confirm Password</label>
                                    <input type="password_confirmation" id="cpass" formControlName="password_confirmation" name="password_confirmation" class="form-control" />
                                </div>
                            </div>

                           

                            <!-- Submit Button -->
                            <div class="col-12">
                                <button type="submit" class="btn text-white">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
