<div class="container mt-3">
    <h2 class="text-center text-primary mb-4">Enroll Students</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 m-2"> <!-- Changed column size -->
            <div class="card" style="box-shadow: 0 .5rem .9rem #0005; max-width: 100%; margin: 0 auto;"> <!-- Set max-width -->
                <div class="card-body p-2">
                    <form [formGroup]="enrollForm" (ngSubmit)="enrol()">
                        <div class="row">
                            <!-- LRN -->
                            <div class="row mb-3">
                                <!-- LRN -->
                                <div class="col-12 col-md-6 col-lg-5">
                                    <div class="form-outline">
                                        <label class="form-label" for="lrn">LRN</label>
                                        <input type="text" name="lrn" formControlName="lrn" id="lrn" class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-5">
                                    <label for="school_year" class="form-label">School Year</label>
                                    <select class="form-control" id="school_year" formControlName="school_year">
                                        <option [ngValue]="null" selected disabled>Select School Year</option>
                                        <option *ngFor="let s of sy" [ngValue]="s">{{s}}</option>
                                    </select>
                                </div>
                            </div>
                                <!-- Lastname -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastname">Last Name</label>
                                        <input type="text" name="lastname" formControlName="lastname" id="lastname" class="form-control" required/>
                                    </div>
                                </div>
                            
                            <!-- Firstname -->
                            <div class="col-12 col-md-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="firstname">First Name</label>
                                    <input type="text" name="firstname" formControlName="firstname" id="firstname" class="form-control" required/>
                                </div>
                            </div>

                            <!-- Middlename -->
                            <div class="col-12 col-md-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="middlename">Middle Name</label>
                                    <input type="text" name="middlename" formControlName="middlename" id="middlename" class="form-control" required/>
                                </div>
                            </div>

                            <!-- Extension Name -->
                            <div class="col-12 col-md-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="extension_name">Extension Name</label>
                                    <input type="text" name="extension_name" formControlName="extension_name" id="extension_name" class="form-control" />
                                </div>
                            </div>

                            <!-- Religion -->
                            <div class="col-12 col-md-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="religion">Religion</label>
                                    <input type="text" name="religion" formControlName="religion" id="religion" class="form-control" />
                                </div>
                            </div>
                            <!-- Gender -->
                            <div class="col-12 col-md-4 mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <div class="d-flex justify-content-start flex-wrap">
                                    <div class="form-check form-check-inline" *ngFor="let g of gvalue">
                                        <input class="form-check-input" type="radio" name="gender" [value]="g" formControlName="gender" id="gender_{{g}}" required>
                                        <label class="form-check-label" for="gender_{{g}}">{{g}}</label>
                                    </div>
                                </div>
                            </div>
                            

                            <!-- Birthday -->
                            <div class="col-12 col-md-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="birthdate">Birthday</label>
                                    <input type="date" formControlName="birthdate" id="birthdate" class="form-control" required/>
                                </div>
                            </div>

                           

                            <!-- Phone Number -->
                            <div class="col-12 col-md-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="contact_numbers">Phone Number</label>
                                    <input type="text" id="contact_numbers" formControlName="contact_numbers" class="form-control" />
                                </div>
                            </div>

                            <!-- Civil Status -->
                            <div class="col-12 col-md-4 mb-3">
                                <label for="civil_status" class="form-label">Civil Status</label>
                                <select class="form-control" id="civil_status" formControlName="civil_status">
                                    <option [ngValue]="null" selected disabled>Select Civil Status</option>
                                    <option *ngFor="let s of civil" [ngValue]="s">{{s}}</option>
                                </select>
                            </div>

                             <!-- Place of Birth -->
                             <div class="col-12 col-md-6 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="placeofbirth">Place of Birth</label>
                                    <input type="text" formControlName="placeofbirth" id="placeofbirth" class="form-control" />
                                </div>
                            </div>

                        
                            <!-- Last Education -->
                            <div class="col-12 col-md-6 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="last_education">Last Education</label>
                                    <input type="text" formControlName="last_education" id="last_education" class="form-control" required/>
                                </div>
                            </div>

                            <!-- Program -->
                            <div class="col-12 col-md-6 mb-3">
                                <label for="program" class="form-label">Program</label>
                                <select class="form-control" id="program" formControlName="program">
                                    <option [ngValue]="null" selected disabled>Select Program</option>
                                    <option *ngFor="let s of gradelevel" [ngValue]="s">{{s}}</option>
                                </select>
                            </div>

                            <!-- Email -->
                            <div class="col-12 col-md-6 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="email" id="email" formControlName="email" class="form-control" required/>
                                </div>
                            </div>

                           <!-- Password -->
                            <div class="col-12 col-md-6 mb-3">
                                <div class="form-outline position-relative">
                                    <label class="form-label" for="password">Password</label>
                                    <input 
                                        [type]="showPassword ? 'text' : 'password'" 
                                        id="password" 
                                        formControlName="password" 
                                        class="form-control pe-5" 
                                        placeholder="Must be 8 characters"
                                    />
                                    <button 
                                        type="button" 
                                        class="seamless-btn btn-outline-secondary position-absolute end-0 top-50 "
                                        (click)="togglePasswordVisibility()">
                                        <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                    </button>
                                </div>
                            </div>
                            
                            <!-- Confirm Password -->
                            <div class="col-12 col-md-6 mb-3">
                                <div class="form-outline position-relative">
                                    <label class="form-label" for="password_confirmation">Confirm Password</label>
                                    <input 
                                        [type]="showPassword ? 'text' : 'password'" 
                                        id="password_confirmation" 
                                        formControlName="password_confirmation" 
                                        class="form-control pe-5" 
                                    />
                                    <button 
                                        type="button" 
                                        class="seamless-btn btn-outline-secondary position-absolute end-0 top-50 "
                                        (click)="togglePasswordVisibility()">
                                        <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="col-12 text-end" style="display: flex; justify-content: flex-end; gap: 10px;">
                                <button 
                                    type="button" 
                                    class="btn" 
                                    style="background-color: #006184; color: #fff;" 
                                    [routerLink]="['/main/Home/mainHome/enroll']">
                                    Back
                                </button>
                                <button 
                                    type="submit" 
                                    class="btn" 
                                    style="background-color: #60B3D1; color: #fff;">
                                    Submit
                                </button>
                            </div>                       
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
