.btn {
    background-color: #60B3D1;
    border-color: #60B3D1;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}


.seamless-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: inherit; /* Matches the surrounding text color */
}

.seamless-btn:focus {
    outline: none; /* Remove focus ring for better UX */
}

.seamless-btn:hover {
    opacity: 0.8; 
}

.btn:hover {
    background-color: #012641;
    border-color: #012641;
}
.card {
    background-color: #f6fafc;
    border-color: #F3EEED;
    padding: 20px;
    border-radius: 10px;
}
.form-label {
    font-size: 0.8rem;
    font-weight: 450;
    color: #012641; 
}
.form-check-label {
    font-size: 1rem;
    font-weight: 500;
    color: #012641; 
}
.form-control {
    border-radius: 8px;
}
@media (max-width: 576px) {
    .form-label, .form-select, .form-control {
        font-size: 0.9rem;
    }
    .btn {
        font-size: 0.9rem;
    }
}
