<div class="container">
    <div class="d-flex">
        <div>
            <h1 class="m-0 p-0 fs-2 fw-bold">List of Teachers</h1>
        </div>
        <div class="ms-auto">
            <button class="btn" [routerLink]="['/main/Teacher/mainTeacher/newTeacher']"> New Teacher</button>
        </div>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-border table-striped text-center">
            <thead>
                <tr class="align-middle">
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Gender</th>
                    <th>Birthday</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ocumen, Virginia B.</td>
                    <td>09853144219</td>
                    <td>Female</td>
                    <td>December 21, 1989</td>
                    <td>Sison, Pangasinan</td>
                    <td>virginiagmail.com</td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/teachersubject']">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/updateRecordT']">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Quisia-an, Cristy W.</td>
                    <td>09265411380</td>
                    <td>Female</td>
                    <td>June 30, 1988</td>
                    <td>Sison, Pangasinan</td>
                    <td>Crisgmail.com</td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/teachersubject']">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/updateRecordT']">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Tamayo, Carl Ann Yag-at M.</td>
                    <td>09017534218</td>
                    <td>Female</td>
                    <td>October 09, 1979</td>
                    <td>Amagbagan, Sison Pangasinan</td>
                    <td>anngmail.com</td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/teachersubject']">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/updateRecordT']">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Patayan, Mylene A.</td>
                    <td>09653119231</td>
                    <td>Female</td>
                    <td>Febuary 14, 1980</td>
                    <td>Asan Sur, Sison Pangasinan</td>
                    <td>mylenegmail.com</td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/teachersubject']">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/updateRecordT']">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>