<div class="container">
    <div class="d-flex">
        <div>
            <span style="font-size: 2em; font-weight: bold;">List of Teachers</span>
        </div>
        <div class="ms-auto">
            <button class="btn" [routerLink]="['/main/Teacher/mainTeacher/newTeacher']">New Teacher</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3" *ngFor="let teacher of teachers">
            <div class="card mb-4">
                <div *ngIf="teacher.media_files">
                    <ng-container *ngFor="let mediaFile of teacher.media_files.split(',')">
                        <!-- <a>{{ mediaFile }}</a> -->
                        <img [src]="'http://localhost:8000/storage/uploads/' + mediaFile"  class="card-img-top" style="height: 200px; object-fit: cover;">
                        <br>
                    </ng-container>
                </div>
                <!-- <img class="card-img-top" src="/assets/als.jpg" alt="Default Teacher Image" style="height: 200px; object-fit: cover;" *ngIf="!teacher.media_files"> -->
                <div class="card-body text-center">
                    <h5 class="card-title">{{ teacher.firstname }} {{ teacher.middlename }} {{ teacher.lastname }}</h5>
                    <p class="card-text"><strong>Contact:</strong> {{ teacher.mobile_number }}</p>
                    <p class="card-text"><strong>Gender:</strong> {{ teacher.gender }}</p>
                    <p class="card-text"><strong>Birthday:</strong> {{ teacher.birthdate | date }}</p>
                    <p class="card-text"><strong>Address:</strong> {{ teacher.address }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ teacher.email }}</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary me-2" (click)="storeTeacherId(teacher.adminid)" [routerLink]="['/main/Teacher/mainTeacher/teachersubject']">
                            <i class="fa fa-eye" aria-hidden="true"></i> View Subjects
                        </a>
                        <a class="btn btn-secondary" (click)="storeTeacherId(teacher.adminid)" [routerLink]="['/main/Teacher/mainTeacher/updateRecordT']">
                            <i class="fa fa-edit" aria-hidden="true"></i> Edit & Upload Picture
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
