<div>
    <h1 style="text-align: center;">Alternative Learning System</h1>
</div>
<div class="container">
    <div class="d-flex">
        <div>
            <h2 class="">List of Teachers</h2>
        </div>
        <div class="ms-auto">
            <button class="btn" [routerLink]="['/main/Teacher/mainTeacher/newTeacher']"> New Teacher</button>
        </div>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-border table-striped text-center">
            <thead>
                <tr class="align-middle">
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Gender</th>
                    <th>Birthday</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teacher of teachers">
                    <td>{{ teacher.firstname }} {{ teacher.middlename }} {{ teacher.lastname }}</td>
                    <td>{{ teacher.mobile_number }}</td>
                    <td>{{ teacher.gender }}</td>
                    <td>{{ teacher.birthdate | date }}</td>
                    <td>{{ teacher.address }}</td>
                    <td>{{ teacher.email }}</td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/teachersubject']">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/updateRecordT']">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>