table{
    text-align: left;
    border-radius: 25px;
    border-radius: 6px;
}
container{
    align-items: center;
}
.table-responsive{
    overflow-y: auto;
    max-height: 70dvh;
    border-radius: 5px;
    overscroll-behavior: contain;
}

table th{
    background-color: #012641;
    color: #f1f7e4;
}

button{
    background-color: #60B3D1;
    border-color: #60B3D1;
    color: #fff;
}

button:hover{
    background-color:#012641;
    color: #fff;
}
