<div >
    <h1 style="text-align: center;">Alternative Learning System</h1>
</div>

<div class="px-5 py-3">
    <mat-toolbar color="" style="background-color: #012641; color: #fff;">
        <span style="font-size: 1.5em;">List of Students</span>
        <a [routerLink]="['/main/Home/mainHome/assingclass']" class="btn m-3" style="background-color: #012641; color: #fff;">
            <i class="fa fa-plus" style="background-color: #012641; color: #ffff;"></i> Enroll Students
        </a>
    </mat-toolbar>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        @for(tabItem of tabs; track tabItem){
        <a mat-tab-link 
          [routerLink]="tabItem.route" 
          routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          <mat-icon class="mr-8">{{tabItem.icon}}</mat-icon>
          {{tabItem.label}}
        </a>
        }
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    <router-outlet></router-outlet>
</div>