<div class="container-fluid table mt-5">
    <div class="row">
        <div class="col-3 ms-4">
            <h2>List of Students</h2>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end mb-1 form-group">
                <!-- Button moved to the right side -->
                <a [routerLink]="['/main/Home/mainHome/assingclass']" class="btn" style="background-color: #012641; color: #fff;">
                    <i class="fa fa-plus" style="background-color: #012641; color: #ffff;"></i> Enroll Students
                </a>
            </div>
        </div>
    </div>
    <section class="table_body">
        <table class="table table-hover">
            <thead class="head">
                <tr style="font-size: 13px;">
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Birthday</th>
                    <th>Place of Birth</th>
                    <th>Assign Class</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="font-size: 13px;">
                <tr class="tab">
                    <td>Cruz, John Dave C.</td>
                    <td>09128564423</td>
                    <td>January 01, 2001</td>
                    <td>Sison, Pangasinan</td>
                    <td></td>
                    <td>
                        <!-- <a [routerLink]="['/main/Student/mainStudent/updateRecordS']">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </a> -->
                        <button type="button" class="btn btn" style="background-color: #60B3D1; color: #fff;" data-bs-toggle="modal" data-bs-target="#myModal">
                            Approve
                        </button>
                    </td>
                </tr>
                <tr class="tab">
                    <td>Hernandez, Mae Ann B.</td>
                    <td>09642138633</td>
                    <td>November 13, 1999</td>
                    <td>Sison, Pangasinan</td>
                    <td>Mathematical and Problem Solving Skills</td>
                    <td>
                        <i class="fa fa-check" style="color: #60d19a;" aria-hidden="true"></i>
                      </td>
                </tr>
                <tr class="tab">
                    <td>Mendoza, Jayden Carl B.</td>
                    <td>09117653429</td>
                    <td>May 20, 1999</td>
                    <td>Sison, Pangasinan</td>
                    <td>Life and Career Skills</td>
                    <td>
                        <i class="fa fa-check" style="color: #60d19a;" aria-hidden="true"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Assign Class</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="col-lg-12">
                <select class="form-select form-select-md" id="assignclass">
                    <option>ALS Elementary</option>
                    <option>ALS High school</option>
                    <option>ALS Senior high</option>
                </select>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn" style="background-color: #012641; color: #fff;" data-bs-dismiss="modal">Ok</button>
        </div>
  
      </div>
    </div>
  </div>
  