.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.custom-file-input {
  margin-top: 10px;
}

.custom-file-label {
  margin-top: 10px;
  text-align: left;
}

.btn-primary {
  width: 100%;
  font-weight: bold;
}

h1 {
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .card {
    padding: 2rem 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}
