<div class="container mt-5">
  <div class="col-md-4 mx-auto">
    <div class="card p-4 text-center">
      <h1 class="mb-4">Update your Profile Pic</h1>
      <form novalidate>
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="validatedCustomFile" (change)="onFileSelected($event)">
            <label for="validatedCustomFile" class="custom-file-label">Choose file</label>
          </div>
        </div>
        <button class="btn btn-primary mt-3" type="button" (click)="onUpload()">Upload</button>
      </form>
    </div>
  </div>
</div>
