<div class="container-fluid table mt-5">
    <section class="table_body">
        <table class="table table-hover">
            <thead class="head">
                <tr style="font-size: 15px;">
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Age</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="font-size: 15px;">
                <tr class="tab">
                    <td>Cruz, John Dave C.</td>
                    <td>09128564423</td>
                    <td>male</td>
                    <td>Sison, Pangasinan</td>
                    <td>12</td>
                    <td>
                        <!-- <a [routerLink]="['/main/Student/mainStudent/updateRecordS']">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </a> -->
                        <i class="fa fa-check" style="color: #60d19a;" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr class="tab">
                    <td>Hernandez, Mae Ann B.</td>
                    <td>09642138633</td>
                    <td>Female</td>
                    <td>Sison, Pangasinan</td>
                    <td>15</td>
                    <td>
                        <i class="fa fa-check" style="color: #60d19a;" aria-hidden="true"></i>
                      </td>
                </tr>
                <tr class="tab">
                    <td>Mendoza, Jayden Carl B.</td>
                    <td>09117653429</td>
                    <td>Male</td>
                    <td>Sison, Pangasinan</td>
                    <td>20</td>
                    <td>
                        <i class="fa fa-check" style="color: #60d19a;" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr class="tab">
                    <td>Lopez, James B.</td>
                    <td>09435181292</td>
                    <td>Male</td>
                    <td>Sison, Pangasinan</td>
                    <td>15</td>
                    <td>
                        <i class="fa fa-check" style="color: #60d19a;" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr class="tab">
                    <td>Sison, Joy V.</td>
                    <td>09874124372</td>
                    <td>Female</td>
                    <td>Sison, Pangasinan</td>
                    <td>10</td>
                    <td>
                        <!-- <a [routerLink]="['/main/Student/mainStudent/updateRecordS']">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </a> -->
                        <button type="button" class="btn btn" style="background-color: #60B3D1; color: #fff;" data-bs-toggle="modal" data-bs-target="#myModal">
                            Approve
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Assign Class</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="col-lg-12">
                <select class="form-select form-select-md" id="assignclass">
                    <option>Basic Literacy Program </option>
                    <option>ALS Elementary</option>
                    <option>ALS Junior High School</option>
                </select>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn" style="background-color: #012641; color: #fff;" data-bs-dismiss="modal">Ok</button>
        </div>
  
      </div>
    </div>
  </div>
  