
<!-- Table Section -->
<div class="table-responsive">
    <br>
    <div class="header-section d-flex justify-content-between align-items-center mb-2">
        <h5 class="header-title">Total Students for ALS Elem: {{ approveStudentELEM?.length }}</h5>
        <!-- <h6 class="header-count">Total Students for ALS Elem: {{ approveStudentELEM?.length }}</h6> -->
    </div>
    <hr>
    <table class="table table-border table-striped text-center">
        <thead>
            <tr class="align-middle">
                <th>Name</th>
                <th>Contact</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>Age</th>
                <th>Email</th>
                <th></th>
                <th></th>
            
            </tr>
        </thead>
        <tbody>
            <tr class="tab" *ngFor="let student of approveStudentELEM">
                <td>{{ student.firstname}} {{ student.middlename}}. {{ student.lastname}}</td>
                <td>{{ student.contact_numbers}}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.birthdate | date}}</td>
                <td> {{ calculateAge(student.birthdate) }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <a class="" (click)="storeStudentId(student.studentid)" [routerLink]="['/main/Student/mainStudent/updateRecordS']">
                        <i class="fa fa-edit" aria-hidden="true"></i> Edit
                      </a>
                </td>
                <td>
                    <a class="" (click)="DeleteStudent(student.studentid)" [routerLink]="['/main/Student/mainStudent/viewStudent/elem']">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                      </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>