.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 225px;
  background-color: #012641;
}

.fframs {
  background-color: #dcdcdc;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 16px auto;
  display: block;
}

.head {
  color: #f2f2f2;
  text-align: center;
  font-size: large;
}

.white-icon {
  color: white;
  margin-right: 16px; /* Add space between icon and text */
}

.mat-list-item:hover {
  background-color: #084e75; /* Add hover background color */
  transition: background-color 0.3s ease; /* Smooth hover transition */
}

.header {
  display: flex;
  align-items: center;
  padding: 13px;
}

.header h1 {
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  margin: 0 auto;
  font-weight: bold;
  font-size: x-large;
}

.frame {
  padding: 10px;
}

.white-icon {
  color: white;
  margin-right: 16px;
}

.bg-color {
  color: #f2f2f2;
  font-weight: 500; /* Optional: make the text bolder */
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
}
.mat-list-item {
  display: flex;
  align-items: center; /* Vertically center icon and text */
  justify-content: center;
}