/* General styling for body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Styling for the sidebar */
.sidebar {
  width: 250px;
  background-color: #012641;
  color: white;
  position: fixed;
  height: 100%;
  left: -250px; /* Initially hidden */
  transition: left 0.3s ease;
  overflow-y: auto;
  z-index: 1000;
}

/* Header styling */
.sidebar header {
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  background-color: #012641;
}

/* Link styling */
.sidebar a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #ffffff;
  color: #0F3041;
}


.sidebar a.active {
  background-color: #ffffff;
}

.sidebar a i {
  margin-right: 10px;
}

#check:checked ~ .sidebar {
  left: 0; 
}

.menu-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1100;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 24px;
  height: 24px;
  opacity: 0;
  z-index: 1200;
  cursor: pointer;
}

#btn, #cancel {
  font-size: 24px;
  color: #6e2227;
  margin-left: 10px;
}

#btn {
  display: inline;
}

#cancel {
  display: none;
}

#check:checked ~ .menu-toggle #btn {
  display: none;
}

#check:checked ~ .menu-toggle #cancel {
  display: inline;
}


.frame {
  padding: 30px;
  width: 100%;
  transition: margin-left 0.3s ease;
  
}


#check:checked ~ .frame {
  margin-left: 250px; 
  padding: 20px;
  width: calc(100% - 250px);
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px; 
    left: -200px; 
  }

  #check:checked ~ .sidebar {
    left: 0; 
  }

  #check:checked ~ .frame {
    margin-left: 200px; 
    padding: 20px;
    width: calc(100% - 200px);
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 150px;
    left: -150px; 
  }

  #check:checked ~ .sidebar {
    left: 0; 
  }

  #check:checked ~ .frame {
    margin-left: 150px; 
    padding: 20px;
    width: calc(100% - 150px);
  }
}
.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0F3041;
  margin-left: 75px;
  margin-top: 15px;
}