<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <h2>List of Classes</h2>
            <div class="container-fluid table mt-1">
                <section class="table_body">
                    <table class="table table-hover">
                        <thead class="head">
                            <tr style="font-size: 13px;">
                                <th>Class Name</th>
                                <th>Schedule</th>
                                <th>Teacher</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 13px;">
                            <tr class="tab">
                                <td>Mathematical and Problem Solving Skills</td>
                                <td>Mon-Fri 7:30-9:30</td>
                                <td>Mrs. Carl Ann Yag-at M. Tamayo</td>
                            </tr>
                            <tr class="tab">
                                <td>Communication Skills (English)</td>
                                <td>Mon-Fri 9:30-11:30</td>
                                <td>Mrs. Cristy W. Quisia-an</td>
                            </tr>
                            <tr class="tab">
                                <td>Communication Skills (Filipino)</td>
                                <td>Mon-Fri 1:00-2:30</td>
                                <td>Mrs. Virginia B. Ocumen</td>
                            </tr>
                            <tr class="tab">
                                <td>Scientific Literacy and Critical Thinking</td>
                                <td>Mon-Fri 2:30-4:30</td>
                                <td>Mrs. Mylene A. Patayan</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4">
              <h2>Create Class</h2>
              <form novalidate>
                <div class="form-group">
                  <label>Select Subject</label>
                  <select class="form-select form-select-md" id="assignclass">
                    <option>Communication Skills (English)</option>
                    <option>Communication Skills (Filipino)</option>
                    <option>Scientific Literacy and Critical Thinking</option>
                    <option>Mathematical and Problem Solving Skills</option>
                    <option>Life and Career Skills</option>
                    <option>Understanding the Self and Society</option>
                    <option>Digital Citizenship</option>
                </select>
                </div>
                <div class="form-group">
                  <label>Assign Teacher</label>
                  <select class="form-select form-select-md" id="assignclass">
                    <option>Mrs. Carl Ann Yag-at M. Tamayo</option>
                    <option>Mrs. Mylene A. Patayan</option>
                    <option>Mrs. Virginia B. Ocumen</option>
                    <option>Mrs. Cristy W. Quisia-an</option>
                </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="ftname">Schedule</label>
                    <select class="form-select form-select-md" id="assignclass">
                        <option>Mon-Fri</option>
                        <option>Tue-Thurs</option>
                        <option>Mon-Wed</option>
                        <option>Wed-Fri</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="religion">Time</label>
                    <input type="text" name="religion" formControlName="address" id="religion" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="phonenum">Room</label>
                    <input type="text" id="phonenum" formControlName="room" name="room" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary"> Save </button>
              </form>
            </div>
        </div>
    </div>
</div>