<div class="container-fluid table mt-5">
    <div class="row">
        <div class="col-3 ms-4">
            <h2>List of Classes</h2>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end mb-1 form-group">
                <!-- Button moved to the right side -->
                <a [routerLink]="['/main/Class/mainClass/newClass']" class="btn" style="background-color: rgba(98, 163, 157, 0.267);">
                    <i class="fa fa-plus" style="background-color: rgba(98, 163, 157, 0.267);"></i> New Class
                </a>
            </div>
        </div>
    </div>
    <section class="table_body">
        <table class="table table-hover">
            <thead class="head">
                <tr style="font-size: 13px;">
                    <th>Class Name</th>
                    <th>Schedule</th>
                    <th>Teacher</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="font-size: 13px;">
                <tr class="tab">
                    <td>MAth</td>
                    <td>Mon 7:00-9:00</td>
                    <td>Ma'am Reyes</td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/updateRecordT']">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr class="tab">
                    <td>Filipino</td>
                    <td>Mon 7:00-9:00</td>
                    <td>Ma'am Reyes</td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/updateRecordT']">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr class="tab">
                    <td>English</td>
                    <td>Mon 7:00-9:00</td>
                    <td>Ma'am Reyes</td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/updateRecordT']">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr class="tab">
                    <td>Science</td>
                    <td>Mon 7:00-9:00</td>
                    <td>Ma'am Reyes</td>
                    <td>
                        <a [routerLink]="['/main/Teacher/mainTeacher/updateRecordT']">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>