<!-- HTML Template -->
<!-- <div class="container">
    <div class="search form-inline">
        <button class="btn" [routerLink]="['/main/Class/mainClass/newClass']" style="background-color: #012641; color: #fff;"> <i class="fa fa-plus"></i>New Class </button>
    </div>
    <hr>
</div> -->
<div class="container">   
    <div class=" py-3 m-3">
        <!-- <mat-toolbar color="" style="background-color: #ffffff; color: #000000;">
            List of Class
        </mat-toolbar> -->
        <h1>List of Class</h1>
        <hr>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            @for(tabItem of tabs; track tabItem){
            <a mat-tab-link 
              [routerLink]="tabItem.route" 
              routerLinkActive #rla="routerLinkActive"
              [active]="rla.isActive">
              <mat-icon class="mr-8">{{tabItem.icon}}</mat-icon>
              {{tabItem.label}}
            </a>
            }
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
        <router-outlet></router-outlet>
    </div>
    </div>
