<div class="col-3 ms-5">
    <h1>Ocumen, Virginia B.</h1>
    <h1>Basic literacy program</h1>
</div>
<div class="container">
    
    <div class="card">
      <div class="card-header">
         Communication Skills
      </div>
      <div class="card-body">
        <ul class="tree">
          <li> Monday - Wednesday</li>
          <li>1:00 - 1:30</li>
        </ul>
      </div>
    </div>
  
    <div class="card">
        <div class="card-header">
           Scientific And Critical Thinking Skills
        </div>
        <div class="card-body">
          <ul class="tree">
            <li> Monday - Wednesday</li>
            <li>1:00 - 1:30</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
           Life and Career Skills
        </div>
        <div class="card-body">
          <ul class="tree">
            <li> Monday - Wednesday</li>
            <li>8:00 - 9:30 am</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
           Understanding The Self And Society
        </div>
        <div class="card-body">
          <ul class="tree">
            <li> Tuesday - Thursday</li>
            <li>3:00 - 4:30</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
           Mathematical And Problem-Solving Skills
        </div>
        <div class="card-body">
          <ul class="tree">
            <li> Tuesday - Thursday</li>
            <li>1:00 - 1:30</li>
          </ul>
        </div>
      </div>
  </div>