<div class="container mt-3">
    <h2 class="text-center text-primary ">New teacher Form</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 m-2"> <!-- Changed column size -->
            <div class="card" style="box-shadow: 0 .5rem .9rem #0005; max-width: 100%; margin: 0 auto;"> <!-- Set max-width -->
                <h2>Teacher's Information</h2>
                <div class="card-body p-2">
                    <form [formGroup]="newTeacherForm" (ngSubmit)="new()">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="lastname">Lastname</label>
                                    <input type="text" name="lastname" formControlName="lastname" id="lastname" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="firstname">Firstname</label>
                                    <input type="text" name="firstname" formControlName="firstname" id="firstname" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="middlename">Middlename</label>
                                    <input type="text" name="middlename" formControlName="middlename" id="middlename" class="form-control" required/>
                                </div>
                            </div>
                           
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="birthdayt">Birthday</label>
                                    <input type="date" formControlName="birthdate" id="birthdayt" name="birthdayt" class="form-control" placeholder="Birthday*" value="" required/>
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="mobile_number">Phone No.</label>
                                    <input type="text" id="mobile_number" formControlName="mobile_number" name="mobile_number" class="form-control" required/>
                                </div>
                            </div>
                            <!-- Gender -->
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <div class="d-flex justify-content-start">
                                    <div class="form-check form-check-inline" *ngFor="let g of gvalue">
                                        <input class="form-check-input" type="radio" name="gender" [value]="g" formControlName="gender" id="gender_{{g}}" required>
                                        <label class="form-check-label" for="gender_{{g}}">{{g}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="address">Address</label>
                                    <input type="text" name="address" formControlName="address" id="address" class="form-control" required/>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="text" id="email" formControlName="email" name="email" class="form-control" required/>
                                </div>
                            </div>

                             <!-- Password -->
                             <div class="col-12 col-md-6 mb-3">
                                <div class="form-outline position-relative">
                                    <label class="form-label" for="password">Password</label>
                                    <input 
                                        [type]="showPassword ? 'text' : 'password'" 
                                        id="password" 
                                        formControlName="password" 
                                        class="form-control " 
                                        placeholder="Must be 8 characters"
                                    />
                                    <button 
                                        type="button" 
                                        class="seamless-btn btn-outline-secondary position-absolute end-0 top-50 "
                                        (click)="togglePasswordVisibility()">
                                        <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                    </button>
                                </div>
                            </div>
                            
                            <!-- Confirm Password -->
                            <div class="col-12 col-md-6 mb-3">
                                <div class="form-outline position-relative">
                                    <label class="form-label" for="password_confirmation">Confirm Password</label>
                                    <input 
                                        [type]="showPassword ? 'text' : 'password'" 
                                        id="password_confirmation" 
                                        formControlName="password_confirmation" 
                                        class="form-control pe-5" 
                                       
                                    />
                                    <button 
                                        type="button" 
                                        class="seamless-btn btn-outline-secondary position-absolute end-0 top-50 "
                                        (click)="togglePasswordVisibility()">
                                        <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 text-end" style="display: flex; justify-content: flex-end; gap: 10px;">
                                <button 
                                    type="button" 
                                    class="btn" 
                                    style="background-color: #006184; color: #fff;" 
                                    [routerLink]="['/main/Teacher/mainTeacher/viewTeacher']">
                                    Back
                                </button>
                                <button 
                                    type="submit" 
                                    class="btn" 
                                    style="background-color: #60B3D1; color: #fff;">
                                    Save
                                </button>
                            </div>
                            
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
