<!-- HTML Template -->
<div class="container">
    <div class="d-flex" >
        <div *ngFor="let c of class">
            <span style="font-size: 1.8em; font-weight: bold; display: block;">{{ c.subject_name }}</span>
            <span style="font-size: 1.0em; font-weight: bold; ">{{ c.Schedule }} |</span>
            <span style="font-size: 1.0em; font-weight: bold; "> {{ c.location }}</span>
        </div>
    </div>
    <hr>
    <!-- Table Section -->
    <div class="table-responsive">
        <table class="table table-border table-striped text-center">
            <thead>
                <tr class="align-middle">
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Gender</th>
                    <th>Birthday</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of allstud">
                    <td>{{ s.firstname }} {{ s.middlename }}. {{ s.lastname }}</td>
                    <td>{{ s.contact_numbers }}</td>
                    <td>{{ s.gender }}</td>
                    <td>{{ s.birthdate | date }}</td>
                    <td>{{ calculateAge(s.birthdate) }}</td>
                    <td>{{ s.email }}</td>
                    <td>
                        <!-- <a class="" (click)="storeStudentId(student.studentid)" [routerLink]="['/main/Student/mainStudent/updateRecordS']">
                            <i class="fa fa-edit" aria-hidden="true"></i> Edit
                          </a> -->
                          <a class="" (click)="storeStudentId()" [routerLink]="['/main/Teacher/mainTeacher/updateRoster']">
                            <i class="fa fa-edit" aria-hidden="true"></i> Edit
                          </a>
                    </td>
                   
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
   
</div>
