<div class="container-fluid table mt-5">
    <section class="table_body">
        <table class="table table-hover">
            <thead class="head">
                <tr style="font-size: 13px;">
                    <th>Name</th>
                    <td>Age</td>
                    <th>Contact</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="font-size: 13px;">
                <tr class="tab">
                    <td>Ang, Jane K.</td>
                    <td>20</td>
                    <td>09128564423</td>
                    <td>Female</td>
                    <td>Sison, Pangasinan</td>
                    <td>
                        <a [routerLink]="['/main/Student/mainStudent/viewDetails']">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <a [routerLink]="['/main/Student/mainStudent/updateRecordS']">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr class="tab">
                    <td>Frod, Andrew M.</td>
                    <td>23</td>
                    <td>09642138633</td>
                    <td>Male</td>
                    <td>Sison, Pangasinan</td>
                    <td>
                        <a [routerLink]="['/main/Student/mainStudent/viewDetails']">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <a [routerLink]="['/main/Student/mainStudent/updateRecordS']">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                      </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>