<div class="container">
  <div class="card p-2">
      <h1>Edit Class</h1>
      <form [formGroup]="classForm" (ngSubmit)="save()">
          <!-- Grade Level and Teacher on one line -->
          <div class="row p-1">
              <div class="col-md-6">
                  <label for="gradelvl" class="form-label">Program</label>
                  <select class="form-control" id="gradelvl" formControlName="gradeLevel">
                      <option [ngValue]="null" selected disabled>Select Grade Level</option>
                      <option *ngFor="let s of gradelevel" disabled [ngValue]="s">{{s}}</option>
                  </select>
              </div>
              <div class="col-md-6">
                  <label for="teacher" class="form-label">Teacher</label>
                  <select class="form-control" id="teacher" formControlName="teacher">
                      <option [ngValue]="null" selected disabled>Select Teacher</option>
                      <option *ngFor="let teacher of teachers" disabled [ngValue]="teacher.adminID">
                          {{teacher.firstname}} {{teacher.middlename}}. {{teacher.lastname}}
                      </option>
                  </select>
              </div>
          </div>

          <!-- Subject on its own line -->
          <div class="row p-1">
              <div class="col-12">
                  <label class="form-label" for="subject">Subject</label>
                  <select class="form-control" id="subject" formControlName="subject">
                      <option [ngValue]="null" selected disabled>Select a subject</option>
                      <option *ngFor="let sub of subjects" disabled [ngValue]="sub.subject_name">
                          {{ sub.subject_name }}
                      </option>
                  </select>
              </div>
          </div>

          <!-- Schedule and Time on one line -->
          <div class="row p-1">
              <div class="col-md-6">
                  <label for="Sched" class="form-label">Schedule</label>
                  <select class="form-control" id="Sched" formControlName="Sched">
                      <option [ngValue]="null" selected disabled>Select Day</option>
                      <option *ngFor="let s of sched" [ngValue]="s">{{s}}</option>
                  </select>
              </div>
              <div class="col-md-6">
                  <label for="time" class="form-label">Time</label>
                  <select class="form-control" id="time" formControlName="time">
                      <option [ngValue]="null" selected disabled>Select Time</option>
                      <option *ngFor="let s of time" [ngValue]="s">{{s}}</option>
                  </select>
              </div>
          </div>

          <!-- Location -->
          <div class="row p-1">
              <div class="col-12">
                  <label for="location" class="form-label">Location</label>
                  <select class="form-control" id="location" formControlName="location">
                      <option [ngValue]="null" selected disabled>Select Location</option>
                      <option *ngFor="let loc of location" [ngValue]="loc.location">{{loc.location}}</option>
                  </select>
              </div>
          </div>
          <br>

          <!-- Buttons -->
          <div class="col-12 text-end" style="display: flex; justify-content: flex-end; gap: 10px;">
              <button 
                  type="button" 
                  class="btn" 
                  style="background-color: #006184; color: #fff;" 
                  [routerLink]="['/main/Class/mainClass/viewClass/alsblp']">
                  Back
              </button>
              <button 
                  type="submit" 
                  class="btn" 
                  style="background-color: #60B3D1; color: #fff;">
                  Save
              </button>
          </div>
      </form>
  </div>
</div>
