<div class="px-5 py-3 m-3">
    <mat-toolbar color="" style="background-color: #012641; color: #fff;">
        List of Students
    </mat-toolbar>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        @for(tabItem of tabs; track tabItem){
        <a mat-tab-link 
          [routerLink]="tabItem.route" 
          routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          <mat-icon class="mr-8">{{tabItem.icon}}</mat-icon>
          {{tabItem.label}}
        </a>
        }
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    <router-outlet></router-outlet>
</div>